# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
test-data/

# Sensitive files
k8s/secret.yaml
variables.sh
*.env
.env

